* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;

    /* --bg-image: url("https://dummyimage.com/hd1080"); */
    --bg-image: url("https://images.unsplash.com/photo-1511649475669-e288648b2339?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    --shadow: 0 0 3px white
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

section {
    border: 2px solid white;
    padding: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 16px;

    position: sticky;
    top: 0;
    z-index: 1001;
    background: var(--secondary-color);
}

.navbar nav a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px 20px;
}

.hero {
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content:center; */

    background: #000 var(--bg-image) no-repeat center/cover;
}

.hero p {
    color: black;
    font-size: 20px;
    
}
.hero h2{
    color: #000;
    font-size: 40px;
}

.hero a {
    color: var(--primary-color);
}

.hero div {
    margin-top: 20px;
}

.exp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    padding: 40px;
}

.exp header {
    grid-column: 1 / -1;
}

.exp-card {
    padding: 10px;
    box-shadow: var(--shadow);
    border-radius: 3px;
}

.exp-card ul {
    padding: 20px;
    list-style-type: disc;
}

.projects {
    padding: 40px;
}

.project-card {
    padding: 10px;
    margin: 40px 0;
}

.project-card p a {
    color: var(--primary-color);
}

.project-card ul {
    padding: 20px;
    list-style-type: disc;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.skills header {
    grid-column: 1 / -1;
}

footer {
    text-align: center;
    padding: 40px;
    border: 2px solid white;
}

